# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Python packaging artifacts
*.egg-info/
build/
dist/

# Logs
*.log